# Copy to .env.session and fill values
LARK_SESSION_URL=https://lark-bbq.bytedance.net/testing/open_api/v1/lark-sessions
LARK_SESSION_ACCESS_TOKEN=''
LARK_SESSION_UNIT=cn
LARK_SESSION_ENV=online
LARK_SESSION_MOBILE=''
LARK_SESSION_PASSWORD=''
LARK_SESSION_CODE=''
LARK_SESSION_TENANT_ID=''
LARK_SESSION_USE_CACHE=true
LARK_SESSION_APP_ID=''
LARK_SESSION_USER_ID=''
